<!-- unicorn/templates/unicorn/todo.html -->

<!-- This is the main structure of index page  -->

<div class="main">

    <div class="game_name">Game : 2048</div>
    <div class="score">Score : {{score.0}}</div>
    
    <!-- Genrating all row and column division using python for loop -->
    <div class="main_box">
        {% for i in matrix %}
        <div class="row_class">
            {% for j in i %}
            <div class="column_class">
                 {% if j %}   <!-- If j (cell_value of matrix) is not 0 then show it otherwise not -->
                    {{j}}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>


    <!-- Javascript Code to handle A, S, D, F or arrow button events -->
    <script>
        window.addEventListener("keydown", function(event) {
            switch(event.code) {
                case "KeyS":
                case "ArrowDown":
                    // Handle Down Shift
                    var downButton= document.getElementById("down_btn");
                    downButton.click();
                    break;
                case "KeyW":
                case "ArrowUp":
                    // Handle Up Shift
                    var upButton= document.getElementById("up_btn");
                    upButton.click();
                    break;
                case "KeyA":
                case "ArrowLeft":
                    // Handle Left Shift
                    var leftButton= document.getElementById("left_btn");
                    leftButton.click();
                    break;
                case "KeyD":
                case "ArrowRight":
                    // Handle Right Shift
                    var rightButton= document.getElementById("right_btn");
                    rightButton.click();
                    break;
            }
        }, true);
    </script>



    <div class="move_button">
        <button class="bt_main" id="left_btn" unicorn:click="shifting('Left')" >Left</button>
        <button class="bt_main" id="right_btn" unicorn:click="shifting('Right')">Right</button>
        <button class="bt_main" id="up_btn" unicorn:click="shifting('Up')">Up</button>
        <button class="bt_main" id="down_btn" unicorn:click="shifting('Down')">Down</button>
    </div>
    
    <div class="reset_button">
        <button class="clear_all" unicorn:click="reset">
            {% if game_over.0 == 1 %}
                Game Over : Play Again
            {% elif game_over.0 == 0 %}
                Reset All Cell
            {% else %}
                You Won! : Play Again
            {% endif %}
        </button>
    </div>
</div>